<header>
  <nav class="container flex items-center justify-between py-4 mt-4 sm:mt-12">
    <div class="py-1">
      <img src="../../assets/icons/hello-icon.png" alt="" class="h-14 w-14">
    </div>
    <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 text-red uppercase text-xs">
      <li class="text-[14px] text-gray-900 font-semibold"><a href="#">Home</a></li>
      <li class="text-[14px] text-gray-900 font-semibold"><a href="#cars">Cars</a></li>
      <li class="text-[14px] text-gray-900 font-semibold"><a href="/faqs">FAQs</a></li>
      <li class="text-[14px] text-gray-900 font-semibold"><a href="#about">About</a></li>
      <li class="text-[14px] text-gray-900 font-semibold"><a href="/contact">Contact</a></li>
      <a href="/login" class="btn btn-red rounded-md px-7 py-3 uppercase text-md hover:bg-black hover:text-white">Login</a>
    </ul>
    <button class="flex sm:hidden flex-1 justify-end">
      <i class="text-2xl p-2 fa fa-bars"></i>
    </button>
  </nav>
</header>
