<section class="bg-black text-white flex flex-col items-center justify-between h-60 w-full py-4 pt-12">
  <div class="container grid grid-cols-4 gap-12">
      <!-- grid item -->
      <div class="flex flex-col">
        <p class="text-lg text-white">About Vintage Cars</p>
        <p class="text-xs py-2 text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate quisquam, modi aut nulla eos dicta obcaecati ipsum recusandae reiciendis iste quia maxime atque? Consectetur ab excepturi dolores nemo optio sapiente.</p>
      </div>
      <!-- useful links -->
      <div class="flex flex-col justify-start items-start">
        <p class="text-lg text-white">Useful Links</p>
        <ul class="text-gray-400">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Faqs</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
      <!-- useful links -->
      <div class="flex flex-col justify-start items-start">
        <p class="text-lg text-white">Resurces</p>
        <ul class="text-gray-400">
          <li><a href="#">Alliey's</a></li>
          <li><a href="#">Museum</a></li>
          <li><a href="#">Repair Shops</a></li>
        </ul>
      </div>
      <!-- newsletter -->
      <div class="max-w-full lg:max-w-lg grid-flow-row">
        <h2 class="text-xl font-bold tracking-tight text-white sm:text-xl">Subscribe to our newsletter.</h2>        
        <div class="mt-2 flex max-w-md gap-x-4">
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border border-white/10 bg-white/5 px-[calc(theme(spacing.4)-1px)] py-[calc(theme(spacing[1.5])-1px)] text-base leading-7 text-white placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" placeholder="Enter email">
          <button type="submit" class="flex-none rounded-md bg-teal py-1.5 px-3.5 text-sm font-semibold leading-7 text-black hover:text-white shadow-sm hover:bg-red focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red">Subscribe</button>
        </div>
      </div>
  </div>
  <p class="text-xs text-gray-50 opacity-50">Copyright @ 2023 - <a href="#" class="text-teal hover:text-green-300 hover:opacity-70">Vintage Cars Museum</a></p>
</section>
