<section class="relative">
  <div
    class="container flex flex-col-reverse lg:flex-row items-center gap-12 mt-14 lg:mt-28"
  >
    <!-- cotnent -->
    <div class="flex flex-1 flex-col items-center lg:items-start">
      <h2 class="text-black text-3xl md:text-4xl lg:text-5xl text-center mb-6">
        Vintage Cars
      </h2>
      <p class="text-black text-lg text-center lg:text-left mb-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        sit repellat animi, quos blanditiis voluptatum odit quam aliquid, quae
        vitae sapiente, hic distinctio deserunt voluptates accusantium dicta
        autem! Officiis, quae.
      </p>
      <div class="flex justify-center flex-wrap gap-2">
        <button class="btn btn-black hover:bg-white hover:text-gray-900">
          View Demo
        </button>
        <button class="btn btn-red hover:bg-white hover:text-black">
          Pricing
        </button>
      </div>
    </div>
    <!-- image -->
    <div class="flex justify-cennter flex-1 mb-10 md:mb-16 lg:mb-0 z-10">
      <img
        src="assets/cars/car1.png"
        alt=""
        class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
      />
    </div>
  </div>
  <!-- rounded rectangle -->
  <div
    class="hidden md:block overflow-hidden bg-red rounded-l-full absolute h-40 w-2/5 top-32 right-0 lg:-bottom-28 lg:-right-0" style="overflow:hidden !important"
  ></div>
</section>
