<section class="w-full relative bg-yellow py-32 mt-20 lg:mt-60" id="about">
  <!-- heading -->
  <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
<h1 class="text-3xl text-center text-black">About Us</h1>
<p class="text-center text-gray-900 mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, nihil eligendi hic veniam odio nam. Expedita enim voluptatem, perspiciatis commodi optio aspernatur nobis iste animi. Dolorum expedita amet tempore id.</p>
  </div>
  <!-- heading ends -->
  <!-- feature #1 -->
  <div
    class="container mt-12 flex flex-col lg:flex-row items center justify-center gap-x-20"
  >
    <!-- image -->
    <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
      <img
        src="assets/cars/car2.png"
        alt=""
        class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
      />
    </div>
    <!-- image ends -->
    <!-- content -->
  <div class="flex flex-1 flex-col items-center lg:items-start">
      <h1 class="text-2xl text-black">Why Choose Us?</h1>
      <p class="text-gray-900 my-4 text-center lg:text-left sm:w-3/4 lg:w-full text-lg">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum possimus non et vel delectus saepe ipsam cumque. Minima, enim perferendis quia nobis voluptas neque alias assumenda cumque nemo quisquam aliquid.
      </p>
      <div class="flex justify-center flex-wrap gap-2">
        <button class="btn btn-teal hover:bg-red hover:text-white">View Demo</button>
        <button class="btn btn-red hover:bg-white hover:text-black">Pricing</button>
      </div>

  </div>

 <!-- rounded rectangle -->
 <div
 class="hidden lg:block overflow-hidden bg-red rounded-r-full absolute h-40 w-2/5 bottom-32 -left-0"
></div>

  </div>
</section>
